In [1]:
import numpy as np
import pandas as pd

In [2]:
t111 = pd.read_csv('./sdg_piracy_sheets/csv_data/t111.csv', index_col=[0])
t142 = pd.read_csv('./sdg_piracy_sheets/csv_data/t142.csv', index_col=[0])
t411 = pd.read_csv('./sdg_piracy_sheets/csv_data/t411.csv', index_col=[0])
t1441 = pd.read_csv('./sdg_piracy_sheets/csv_data/t1441.csv', index_col=[0])
t14c1 = pd.read_csv('./sdg_piracy_sheets/csv_data/t14c1.csv', index_col=[0])

In [3]:
drop_lis = ['Goal', 'Target', 'SeriesCode', 'SeriesDescription', 'FootNote']
t111.drop(drop_lis, axis=1, inplace=True)
t142.drop(drop_lis, axis=1, inplace=True)
t411.drop(drop_lis, axis=1, inplace=True)
t1441.drop(drop_lis, axis=1, inplace=True)
t14c1.drop(drop_lis, axis=1, inplace=True)

In [4]:
poverty= t111[t111['Age']!='15-24']
poverty= poverty[poverty['Age']!= '15+']
poverty= poverty[poverty['Age']!= '25+']
poverty= poverty[poverty['Sex']!= 'MALE']
poverty= poverty[poverty['Age']!= 'FEMALE']

In [5]:
poverty.isnull().sum()

Indicator            0
GeoAreaCode          0
GeoAreaName          0
TimePeriod           0
Value                0
Time_Detail          0
Source               0
Age               2084
Nature               0
Reporting Type       0
Sex               2084
Units                0
dtype: int64

In [6]:
drop_lis = ['Age', 'Sex', 'Time_Detail', 'Source', 'Nature', 'Reporting Type', 'Units']
poverty.drop(drop_lis, axis=1, inplace=True)

In [7]:
poverty.rename(columns={'Value':'poverty_percentage'}, inplace=True)

In [8]:
poverty.shape

(2084, 5)

In [9]:
#https://stackoverflow.com/questions/65817843/how-to-create-new-rows-with-missing-years-and-populate-them-with-current-rows
poverty = (poverty.set_index('TimePeriod').groupby('GeoAreaCode')
   .apply(lambda x: x.reindex(np.arange(2000, 2022)).ffill())
   .reset_index('GeoAreaCode',drop=True)
   .reset_index())
poverty.dropna(inplace=True)

In [10]:
poverty = poverty[poverty['TimePeriod'] > 2009]

In [11]:
poverty

      TimePeriod Indicator  GeoAreaCode GeoAreaName  poverty_percentage
10          2010     1.1.1          1.0       World                16.0
11          2011     1.1.1          1.0       World                13.9
12          2012     1.1.1          1.0       World                12.9
13          2013     1.1.1          1.0       World                11.4
14          2014     1.1.1          1.0       World                10.7
...          ...       ...          ...         ...                 ...
4483        2017     1.1.1        894.0      Zambia                58.7
4484        2018     1.1.1        894.0      Zambia                58.7
4485        2019     1.1.1        894.0      Zambia                58.7
4486        2020     1.1.1        894.0      Zambia                58.7
4487        2021     1.1.1        894.0      Zambia                58.7

[2413 rows x 5 columns]

In [12]:
poverty

      TimePeriod Indicator  GeoAreaCode GeoAreaName  poverty_percentage
10          2010     1.1.1          1.0       World                16.0
11          2011     1.1.1          1.0       World                13.9
12          2012     1.1.1          1.0       World                12.9
13          2013     1.1.1          1.0       World                11.4
14          2014     1.1.1          1.0       World                10.7
...          ...       ...          ...         ...                 ...
4483        2017     1.1.1        894.0      Zambia                58.7
4484        2018     1.1.1        894.0      Zambia                58.7
4485        2019     1.1.1        894.0      Zambia                58.7
4486        2020     1.1.1        894.0      Zambia                58.7
4487        2021     1.1.1        894.0      Zambia                58.7

[2413 rows x 5 columns]

In [13]:
poverty.to_csv('./datasets/poverty.csv')