https://stackoverflow.com/questions/59736682/find-nearest-location-coordinates-in-land-using-python

In [1]:
import numpy as np
import pandas as pd
import geopandas as gp
import geopy
from geopy.geocoders import Nominatim

from shapely.ops import nearest_points

In [2]:
df = pd.read_csv('./datasets/Anti-Shipping_Activity_Messages.csv')
df.dropna(inplace = True)

In [3]:
df.head(5)

,X,Y,OBJECTID,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea
0,-75.133333,21.933333,1,1990-9,1990/06/03 00:00:00+00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,IV
1,108.000000,3.000000,2,1990-10,1990/03/20 00:00:00+00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,XI
2,90.000000,-1.000000,3,1990-11,1990/03/20 00:00:00+00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,VIII
3,42.000000,14.000000,4,1989-16,1989/01/01 00:00:00+00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,IX
4,80.300000,13.100000,5,1989-17,1989/09/23 00:00:00+00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,VIII

In [4]:
df['Y'] = [str(x) for x in df['Y']]
df['X'] = [str(x) for x in df['X']]

In [5]:
df['coords'] = df['Y'] + ',' + df['X']

In [6]:
gloc = Nominatim(user_agent = 'Anything')

In [77]:
def closest_country(c):
    c = gloc.reverse(c, language = 'en')
    try:
        return c.raw['address']['country']
    except:
        return 'Oh no!'

In [78]:
df_100 = df[:100]

In [79]:
df.coords[:5]

0     21.9333333003936,-75.1333332999845
1    3.00000000044236,108.00000000024099
2    -0.99999999968702,89.99999999965858
3     13.999999999898801,41.999999999905
4      13.0999999995998,80.3000000003341
Name: coords, dtype: object

In [80]:
closest_country('9.999999999769392,-80.00000000044321')

'Oh no!'

In [81]:
df_100_func = df_100['coords'].apply(lambda x: closest_country(x))

In [82]:
df_100_func.value_counts()

Oh no!         26
Brazil         11
Indonesia      10
China           8
Philippines     8
India           7
Sri Lanka       5
Eritrea         2
Ecuador         2
Malaysia        2
Bangladesh      2
Nigeria         1
The Bahamas     1
Somalia         1
Lebanon         1
Tanzania        1
Thailand        1
Visayas         1
Senegal         1
Guyana          1
Cameroon        1
Malta           1
Mozambique      1
Colombia        1
Egypt           1
Vietnam         1
Nicaragua       1
Algeria         1
Name: coords, dtype: int64