https://stackoverflow.com/questions/59736682/find-nearest-location-coordinates-in-land-using-python

In [1]:
import numpy as np
import pandas as pd
import geopandas as gp
import geopy
from geopy.geocoders import Nominatim
import time
import pycountry

from shapely.ops import nearest_points

In [2]:
df = pd.read_csv('./datasets/Anti-Shipping_Activity_Messages.csv')
df.dropna(inplace = True)

In [3]:
df.head(5)

,X,Y,OBJECTID,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea
0,-75.133333,21.933333,1,1990-9,1990/06/03 00:00:00+00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,IV
1,108.000000,3.000000,2,1990-10,1990/03/20 00:00:00+00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,XI
2,90.000000,-1.000000,3,1990-11,1990/03/20 00:00:00+00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,VIII
3,42.000000,14.000000,4,1989-16,1989/01/01 00:00:00+00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,IX
4,80.300000,13.100000,5,1989-17,1989/09/23 00:00:00+00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,VIII

In [4]:
df['Y'] = [str(x) for x in df['Y']]
df['X'] = [str(x) for x in df['X']]

In [5]:
df['coords'] = df['Y'] + ',' + df['X']

In [6]:
gloc = Nominatim(user_agent = 'Anything')

In [7]:
def closest_country(c):
    time.sleep(1)
    try:
        c = gloc.reverse(c, language = 'en')
        return c.raw['address']['country']
    except:
        return 'International Waters'

In [15]:
df_locations_1_250 = df['coords'][:250].apply(lambda x: closest_country(x))

In [43]:
df_locations_250_500 = df['coords'][250:500].apply(lambda x: closest_country(x))

In [45]:
df_locations_500_750 = df['coords'][500:750].apply(lambda x: closest_country(x))

In [48]:
df_locations_750_1000 = df['coords'][750:1000].apply(lambda x: closest_country(x))

In [50]:
df_locations_1000_1500 = df['coords'][1000:1500].apply(lambda x: closest_country(x))

In [53]:
df_locations_1500_2500 = df['coords'][1500:2500].apply(lambda x: closest_country(x))

In [ ]:
df_locations_2500_end = df['coords'][2500:].apply(lambda x: closest_country(x))

In [9]:
df = pd.read_csv('./datasets/esri_w_country_columns')

In [10]:
df.head()

,Unnamed: 0,X,Y,OBJECTID,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea,coords,country
0,0,-75.133333,21.933333,1,1990-9,1990/06/03 00:00:00+00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,IV,"21.9333333003936,-75.1333332999845",The Bahamas
1,1,108.000000,3.000000,2,1990-10,1990/03/20 00:00:00+00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,XI,"3.00000000044236,108.00000000024099",Indonesia
2,2,90.000000,-1.000000,3,1990-11,1990/03/20 00:00:00+00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,VIII,"-0.99999999968702,89.99999999965858",International Waters
3,3,42.000000,14.000000,4,1989-16,1989/01/01 00:00:00+00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,IX,"13.999999999898801,41.999999999905",Eritrea
4,4,80.300000,13.100000,5,1989-17,1989/09/23 00:00:00+00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,VIII,"13.0999999995998,80.3000000003341",India

In [20]:
country_list = df['country'].unique()

In [21]:
country_list

array(['The Bahamas', 'Indonesia', 'International Waters', 'Eritrea',
       'India', 'Brazil', 'Somalia', 'Ecuador', 'Philippines', 'Malta',
       'China', 'Cameroon', 'Sri Lanka', 'Nicaragua', 'Senegal',
       'Bangladesh', 'Vietnam', 'Malaysia', 'Mozambique', 'Guyana',
       'Algeria', 'Tanzania', 'Lebanon', 'Visayas', 'Colombia', 'Nigeria',
       'Egypt', 'Thailand', 'Russia', 'Guinea', 'Morocco',
       "Côte d'Ivoire", 'Portugal', 'Japan', 'Myanmar', 'Mindanao',
       'Dominican Republic', 'Iran', 'Venezuela', 'Ghana', 'Angola',
       'Sierra Leone', 'Democratic Republic of the Congo', 'Madagascar',
       'Turkey', 'Peru', 'Italy', 'Oman', 'Djibouti', 'North Korea',
       'Greece', 'Yemen', 'Taiwan', 'Comoros', 'Papua New Guinea',
       'Jamaica', 'Saudi Arabia', 'Netherlands', 'Panama', 'Singapore',
       'Kenya', 'France', 'Pakistan', 'United States', 'Gabon',
       'Congo-Brazzaville', 'Belgium', 'Brunei', 'Cyprus', 'Haiti',
       'Liberia', 'Belize', 'Qatar', 'Solomon Islands',
       'Equatorial Guinea', 'Guatemala', 'Fiji', 'South Africa',
       'Tunisia', 'Mauritania', 'United Arab Emirates', 'Germany',
       'Mexico', 'Montenegro', 'Togo', 'Honduras', 'United Kingdom',
       'Benin', 'Trinidad and Tobago', 'Bulgaria', 'Georgia', 'Cuba',
       'Iraq', 'Suriname', 'Australia', 'El Salvador', 'Romania',
       'Saint Lucia', 'Uruguay', 'British Virgin Islands',
       'Saint Vincent and the Grenadines', 'Sudan', 'Dominica', 'Spain',
       'Costa Rica', 'Antigua and Barbuda', 'Grenada', 'South Korea',
       'Cape Verde', 'Seychelles', 'Libya', 'Cayman Islands',
       'Saint Kitts and Nevis'], dtype=object)

In [12]:
poverty = pd.read_csv('./sdg_piracy_sheets/csv_data/t111.csv', index_col =[0]) 
land_rights = pd.read_csv('./sdg_piracy_sheets/csv_data/t142.csv', index_col =[0]) 
education = pd.read_csv('./sdg_piracy_sheets/csv_data/t411.csv', index_col =[0]) 
overfishing = pd.read_csv('./sdg_piracy_sheets/csv_data/t1441.csv', index_col =[0]) 
sea_law = pd.read_csv('./sdg_piracy_sheets/csv_data/t14c1.csv', index_col =[0])

In [27]:
# Value, time, GeoArea Code, GeoAreaName, Units
poverty.head(40)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,FootNote,Age,Nature,Reporting Type,Sex,Units
0,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2000,27.8,2000,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
1,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2001,26.9,2001,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
2,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2002,25.7,2002,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
3,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2003,24.7,2003,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
4,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2004,22.9,2004,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
5,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2005,21.0,2005,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
6,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2006,20.3,2006,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
7,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2007,19.1,2007,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
8,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2008,18.4,2008,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
9,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2009,17.6,2009,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
10,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2010,16.0,2010,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
11,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2011,13.9,2011,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
12,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2012,12.9,2012,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
13,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2013,11.4,2013,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
14,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2014,10.7,2014,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
15,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2015,10.1,2015,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
16,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2016,9.7,2016,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
17,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2017,9.3,2017,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
18,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2000,48.8,2000,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
19,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2001,47.9,2001,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
20,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2002,46.9,2002,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
21,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2003,47.0,2003,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
22,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2004,44.9,2004,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
23,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2005,43.8,2005,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
24,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2006,43.0,2006,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
25,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2007,42.2,2007,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
26,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2008,41.4,2008,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
27,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2009,41.4,2009,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
28,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2010,40.2,2010,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
29,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2011,38.6,2011,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
30,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2012,37.3,2012,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
31,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2013,36.9,2013,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
32,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2014,36.0,2014,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
33,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2015,35.7,2015,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
34,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2016,35.7,2016,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
35,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2017,35.2,2017,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
36,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,2,Africa,2018,34.7,2018,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
37,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,5,South America,2000,12.9,2000,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
38,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,5,South America,2001,12.9,2001,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT
39,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,5,South America,2002,12.2,2002,"World Bank, Development Research Group. Data a...",NaN,NaN,G,G,NaN,PERCENT

In [34]:
land_rights.SeriesDescription.unique()

array(['Proportion of people with legally recognized documentation of their rights to land out of total adult population, by sex (%)',
       'Proportion of people who perceive their rights to land as secure out of total adult population, by sex (%)',
       'Proportion of people with secure tenure rights to land out of total adult population, by sex (%)'],
      dtype=object)

In [54]:
#Value based on year/country (keep Series Description)
education.GeoAreaName.value_counts()

Norway                                            80
Australia                                         74
Netherlands                                       67
China, Hong Kong Special Administrative Region    67
New Zealand                                       67
                                                  ..
Puerto Rico                                        2
Turkmenistan                                       2
Bhutan                                             1
Mauritania                                         1
Comoros                                            1
Name: GeoAreaName, Length: 162, dtype: int64

In [44]:
overfishing.Value

6508    72.79
6509    76.39
6510    72.37
6511    67.02
6512    69.55
        ...
6805      NaN
6806      NaN
6807      NaN
6808      NaN
6809      NaN
Name: Value, Length: 302, dtype: float64

In [51]:
sea_law.SeriesDescription.unique()

array(['Score for the implementation of UNCLOS and its two implementing agreements (%)',
       'Score for the ratification of and accession to UNCLOS and its two implementing agreements (%)'],
      dtype=object)

In [55]:
sea_law.shape

(90, 15)

In [56]:
# input a value for each observation that shows 'Value' based on year/country

df['edu_val'] = 0

In [59]:
for ix, item in enumerate(df['edu_val']):
    df['edu_val'][ix] = 1

<ipython-input-59-6a85069f032d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['edu_val'][ix] = 1

In [69]:
education[education['GeoAreaName'] == 'India']

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,FootNote,Education level,Nature,Reporting Type,Sex,Type of skill,Units
1753,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,39.5,2017,National Learning Assessment (NLA): National A...,NaN,LOWSEC,C,G,BOTHSEX,SKILL_MATH,PERCENT
1754,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,43.6,2017,National Learning Assessment (NLA): National A...,NaN,PRIMAR,C,G,BOTHSEX,SKILL_MATH,PERCENT
1755,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,44.0,2017,National Learning Assessment (NLA): National A...,NaN,PRIMAR,C,G,FEMALE,SKILL_MATH,PERCENT
1756,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,47.0,2017,National Learning Assessment (NLA): National A...,NaN,GRAD23,C,G,MALE,SKILL_READ,PERCENT
1757,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,38.3,2017,National Learning Assessment (NLA): National A...,NaN,LOWSEC,C,G,BOTHSEX,SKILL_READ,PERCENT
1758,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,53.0,2017,National Learning Assessment (NLA): National A...,NaN,GRAD23,C,G,MALE,SKILL_MATH,PERCENT
1759,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,44.0,2017,National Learning Assessment (NLA): National A...,NaN,PRIMAR,C,G,MALE,SKILL_MATH,PERCENT
1760,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,47.2,2017,National Learning Assessment (NLA): National A...,NaN,GRAD23,C,G,BOTHSEX,SKILL_READ,PERCENT
1761,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,49.0,2017,National Learning Assessment (NLA): National A...,NaN,GRAD23,C,G,FEMALE,SKILL_READ,PERCENT
1762,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,52.9,2017,National Learning Assessment (NLA): National A...,NaN,GRAD23,C,G,BOTHSEX,SKILL_MATH,PERCENT
1763,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,53.0,2017,National Learning Assessment (NLA): National A...,NaN,GRAD23,C,G,FEMALE,SKILL_MATH,PERCENT
1764,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,45.0,2017,National Learning Assessment (NLA): National A...,NaN,PRIMAR,C,G,MALE,SKILL_READ,PERCENT
1765,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,46.3,2017,National Learning Assessment (NLA): National A...,NaN,PRIMAR,C,G,BOTHSEX,SKILL_READ,PERCENT
1766,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,356,India,2017,47.0,2017,National Learning Assessment (NLA): National A...,NaN,PRIMAR,C,G,FEMALE,SKILL_READ,PERCENT