https://stackoverflow.com/questions/59736682/find-nearest-location-coordinates-in-land-using-python

In [9]:
import numpy as np
import pandas as pd
#import geopandas as gp
import geopy
from geopy.geocoders import Nominatim
import time

In [10]:
df = pd.read_csv('./datasets/Anti-Shipping_Activity_Messages.csv')
df.dropna(inplace = True)

In [11]:
df['Y'] = [str(x) for x in df['Y']]
df['X'] = [str(x) for x in df['X']]

In [12]:
df['coords'] = df['Y'] + ',' + df['X']

In [13]:
gloc = Nominatim(user_agent = 'Anything')

In [14]:
def closest_country(c):
    time.sleep(1)
    try:
        c = gloc.reverse(c, language = 'en')
        return c.raw['address']['country']
    except:
        return 'International Waters'

#https://www.geeksforgeeks.org/get-the-city-state-and-country-names-from-latitude-and-longitude-using-python/

In [15]:
# df_locations_1_250 = df['coords'][:250].apply(lambda x: closest_country(x))
# df_locations_250_500 = df['coords'][250:500].apply(lambda x: closest_country(x))
# df_locations_500_750 = df['coords'][500:750].apply(lambda x: closest_country(x))
# df_locations_750_1000 = df['coords'][750:1000].apply(lambda x: closest_country(x))
# df_locations_1000_1500 = df['coords'][1000:1500].apply(lambda x: closest_country(x))
# df_locations_1500_2500 = df['coords'][1500:2500].apply(lambda x: closest_country(x))
# df_locations_2500_end = df['coords'][2500:].apply(lambda x: closest_country(x))
# df.to_csv('./datasets/esri_w_country_columns')

In [16]:
df = pd.read_csv('./datasets/esri_w_country_columns', index_col=[0])

In [17]:
# poverty = pd.read_csv('./sdg_piracy_sheets/csv_data/t111.csv', index_col =[0]) 
# land_rights = pd.read_csv('./sdg_piracy_sheets/csv_data/t142.csv', index_col =[0]) 
# education = pd.read_csv('./sdg_piracy_sheets/csv_data/t411.csv', index_col =[0]) 
# overfishing = pd.read_csv('./sdg_piracy_sheets/csv_data/t1441.csv', index_col =[0]) 
# sea_law = pd.read_csv('./sdg_piracy_sheets/csv_data/t14c1.csv', index_col =[0])

In [18]:
# land_rights.SeriesDescription.unique()

In [19]:
# Value based on year/country (keep Series Description)
# education.GeoAreaName.value_counts()

In [20]:
# overfishing.Value

In [21]:
# sea_law.SeriesDescription.unique()

In [22]:
# sea_law.shape

In [23]:
#df.drop(columns = ['Unnamed: 0'], inplace = True)

In [24]:
#Breaking into month, year, day and time.
df['year'] = [x[0:4] for x in df.dateofocc]
df['month'] = [x[5:7] for x in df.dateofocc]
df['day'] = [x[8:10] for x in df.dateofocc]
df['time'] = [x[11:] for x in df.dateofocc]

In [25]:
df[df['time'] == '00:00:00+00'].count()
#most rows are missing 'time'

X                  7792
Y                  7792
OBJECTID           7792
reference          7792
dateofocc          7792
subreg             7792
hostility_d        7792
victim_d           7792
description        7792
hostilitytype_l    7792
victim_l           7792
navarea            7792
coords             7792
country            7792
year               7792
month              7792
day                7792
time               7792
dtype: int64

In [26]:
#Dropping time column
df.drop(columns = 'time', inplace = True)

In [27]:
#Dropping original date of occurence column
df.drop(columns = 'dateofocc', inplace = True)

In [28]:
#Dropping 'OBJECTID'
df.drop(columns = 'OBJECTID', axis = 1, inplace = True)

In [29]:
#Lowercase all text
for i in df.columns:
    if df[i].dtypes == 'O':
        df[i] = df[i].str.lower()

In [30]:
df.hostilitytype_l.value_counts()

1.0    6971
3.0     537
4.0     163
6.0     124
2.0      47
5.0      40
9.0       6
7.0       1
Name: hostilitytype_l, dtype: int64

In [31]:
host_lst = ['pirate_assaults', 
            'navel_engagement', 
            'suspicious_approach', 
            'kidnapping', 
            'unknown', 
            'other', 
            'hijacking', 
            'no entries', 
            'attempted_boarding']

df.hostilitytype_l = [host_lst[int(x) - 1] for x in df.hostilitytype_l]

In [32]:
victim_lst = ['anchored_vessel', 
            'barge', 
            'cargo_ship', 
            'fishing_vessel', 
            'merchant_vessel', 
            'offshore_vessel', 
            'passenger_ship', 
            'sailing_vessel', 
            'tanker',
            'tugboat',
            'vessel',
            'unknown',
            'other']

df.victim_l = [victim_lst[int(x) - 1] for x in df.victim_l]

In [33]:
#Dummy all categorical columns
to_dummy = ['subreg', 'hostilitytype_l', 'victim_l', 'navarea', 'month']

for i in to_dummy:
    df = pd.concat([df, pd.get_dummies(df[i], prefix = i)], axis=1)
#df.drop(columns = to_dummy, axis = 1)

In [34]:
#ADD TO CLEANING

success_dict = {
    'pirate_assaults':1,      
    'suspicious_approach':0,  
    'kidnapping':1,
    'other':0,
    'navel_engagement':0, 
    'unknown':0,
    'attempted_boarding':0,
    'hijacking':1
}



df['pirate_success'] = df.hostilitytype_l.map(success_dict)

In [35]:
df['year'] = df['year'].astype(int)

In [36]:
#Incorporate only observations from 2010 on.
df = df[df['year'] >= 2010]

In [37]:
df.drop(columns = ['reference', 'hostility_d', 'victim_d', 'description'], inplace = True)

In [38]:
df.shape

(3278, 100)

In [39]:
poverty = pd.read_csv('./datasets/poverty.csv', index_col=[0])

In [40]:
#BRING TO BOTTOM OF PAGE

# df.to_csv('./datasets/cleaned_pirate_activity_eda.csv')
# df = pd.read_csv('./datasets/cleaned_pirate_activity_eda.csv', index_col=0)
# df.head()

In [41]:
countries = ['The Bahamas', 'Indonesia','International Waters', 'Eritrea', 'India', 'Brazil',
 'Somalia', 'Ecuador', 'Philippines', 'Malta', 'China', 'Cameroon', 'Sri Lanka','Nicaragua',
 'Senegal', 'Bangladesh', 'Vietnam', 'Malaysia', 'Mozambique', 'Guyana', 'Algeria', 'Tanzania',
 'Lebanon', 'Visayas', 'Colombia', 'Nigeria', 'Egypt', 'Thailand', 'Russia', 'Guinea',
 'Morocco', "Côte d'Ivoire", 'Portugal', 'Japan', 'Myanmar', 'Mindanao',
 'Dominican Republic', 'Iran', 'Venezuela', 'Ghana', 'Angola', 'Sierra Leone', 
 'Democratic Republic of the Congo', 'Madagascar', 'Turkey', 'Peru', 'Italy', 'Oman', 'Djibouti',
 'North Korea', 'Greece', 'Yemen', 'Taiwan', 'Comoros', 'Papua New Guinea', 'Jamaica', 'Saudi Arabia',
 'Netherlands', 'Panama', 'Singapore', 'Kenya', 'France', 'Pakistan', 'United States', 'Gabon',
 'Congo-Brazzaville', 'Belgium', 'Brunei', 'Cyprus', 'Haiti', 'Liberia', 'Belize', 'Qatar', 'Solomon Islands',
 'Equatorial Guinea', 'Guatemala', 'Fiji', 'South Africa', 'Tunisia', 'Mauritania', 'United Arab Emirates',
 'Germany', 'Mexico', 'Montenegro', 'Togo', 'Honduras', 'United Kingdom', 'Benin', 'Trinidad and Tobago',
 'Bulgaria', 'Georgia', 'Cuba', 'Iraq', 'Suriname', 'Australia', 'El Salvador', 'Romania', 'Saint Lucia',
 'Uruguay', 'British Virgin Islands', 'Saint Vincent and the Grenadines', 'Sudan', 'Dominica',
 'Spain', 'Costa Rica', 'Antigua and Barbuda', 'Grenada', 'South Korea', 'Cape Verde', 'Seychelles',
 'Libya', 'Cayman Islands', 'Saint Kitts and Nevis']

countries = [x.lower() for x in countries]

In [42]:
lis = [44, 360, 1, 232, 356, 76, 706, 218, 608, 470, 156, 120, 144, 558, 686, 50, 704, 458, 508, 328, 
          12, 834, 422, 608, 170, 566, 818, 764, 643, 324, 504, 384, 620, 392, 104, 608, 214, 364, 862, 
          288, 24, 694, 180, 450, 792, 604, 380, 512, 262, 408, 300, 887, 156, 174, 598, 388, 682, 528,
         591, 702, 404, 250, 586, 840, 266, 178, 56, 96, 196, 332, 430, 84, 634, 90, 226, 320, 242, 710, 
         788, 478, 784, 276, 484, 499, 768, 340, 826, 204, 780, 100, 268, 192, 368, 740, 36, 222, 642, 
         662, 858, 92, 670, 729, 212, 724, 188, 28, 308, 410, 132, 690, 434, 136, 659]

In [43]:
dic = {countries[i]: lis[i] for i in range(len(countries))}

In [44]:
df['country_code'] = df['country'].map(dic)

In [45]:
df['country_code']

32      156
33      356
34      356
35      360
36      360
       ...
8180    608
8181     24
8182    360
8183    608
8184      1
Name: country_code, Length: 3278, dtype: int64

In [46]:
df.head()

,X,Y,subreg,hostilitytype_l,victim_l,navarea,coords,country,year,month,...,month_05,month_06,month_07,month_08,month_09,month_10,month_11,month_12,pirate_success,country_code
32,112.000000,16.500000,93,pirate_assaults,fishing_vessel,xi,"16.500000000429303,112.00000000037",china,2015,07,...,0,0,1,0,0,0,0,0,1,156
33,70.216667,23.016667,63,pirate_assaults,tanker,viii,"23.016666700086898,70.2166667001745",india,2015,07,...,0,0,1,0,0,0,0,0,1,356
34,70.216667,23.016667,63,pirate_assaults,tanker,viii,"23.016666700086898,70.2166667001745",india,2015,07,...,0,0,1,0,0,0,0,0,1,356
35,101.983333,2.050000,71,pirate_assaults,tanker,xi,"2.05000000027673,101.98333330015",indonesia,2015,08,...,0,0,0,1,0,0,0,0,1,360
36,103.566667,1.100000,71,pirate_assaults,cargo_ship,xi,"1.1000000001110901,103.56666670030899",indonesia,2015,08,...,0,0,0,1,0,0,0,0,1,360

In [47]:
poverty

      TimePeriod Indicator  GeoAreaCode GeoAreaName  poverty_percentage
10          2010     1.1.1          1.0       World                16.0
11          2011     1.1.1          1.0       World                13.9
12          2012     1.1.1          1.0       World                12.9
13          2013     1.1.1          1.0       World                11.4
14          2014     1.1.1          1.0       World                10.7
...          ...       ...          ...         ...                 ...
4483        2017     1.1.1        894.0      Zambia                58.7
4484        2018     1.1.1        894.0      Zambia                58.7
4485        2019     1.1.1        894.0      Zambia                58.7
4486        2020     1.1.1        894.0      Zambia                58.7
4487        2021     1.1.1        894.0      Zambia                58.7

[2413 rows x 5 columns]

In [48]:
df

,X,Y,subreg,hostilitytype_l,victim_l,navarea,coords,country,year,month,...,month_05,month_06,month_07,month_08,month_09,month_10,month_11,month_12,pirate_success,country_code
32,112.000000,16.500000,93,pirate_assaults,fishing_vessel,xi,"16.500000000429303,112.00000000037",china,2015,07,...,0,0,1,0,0,0,0,0,1,156
33,70.216667,23.016667,63,pirate_assaults,tanker,viii,"23.016666700086898,70.2166667001745",india,2015,07,...,0,0,1,0,0,0,0,0,1,356
34,70.216667,23.016667,63,pirate_assaults,tanker,viii,"23.016666700086898,70.2166667001745",india,2015,07,...,0,0,1,0,0,0,0,0,1,356
35,101.983333,2.050000,71,pirate_assaults,tanker,xi,"2.05000000027673,101.98333330015",indonesia,2015,08,...,0,0,0,1,0,0,0,0,1,360
36,103.566667,1.100000,71,pirate_assaults,cargo_ship,xi,"1.1000000001110901,103.56666670030899",indonesia,2015,08,...,0,0,0,1,0,0,0,0,1,360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180,120.843200,14.531200,91,pirate_assaults,cargo_ship,xi,"14.5311999996627,120.843199999669",philippines,2020,09,...,0,0,0,0,1,0,0,0,1,608
8181,13.283300,-8.750000,57,pirate_assaults,cargo_ship,vii,"-8.749999999712829,13.283299999972801",angola,2020,09,...,0,0,0,0,1,0,0,0,1,24
8182,117.592300,0.252700,72,pirate_assaults,cargo_ship,xi,"0.252700000033258,117.59230000011999",indonesia,2020,06,...,0,1,0,0,0,0,0,0,1,360
8183,120.866700,14.583300,91,pirate_assaults,cargo_ship,xi,"14.583300000104801,120.86670000015499",philippines,2020,09,...,0,0,0,0,1,0,0,0,1,608
8184,-0.466000,3.615000,57,suspicious_approach,fishing_vessel,ii,"3.6149999996123903,-0.46600000035505196",international waters,2020,09,...,0,0,0,0,1,0,0,0,0,1

In [49]:
poverty.rename(columns = {'GeoAreaCode':'country_code', 'TimePeriod': 'year'}, inplace = True)

In [50]:
poverty['country_code'] = poverty['country_code'].astype(int)

In [51]:
df['join_key'] = list(zip(df.country_code, df.year))
poverty['join_key'] = list(zip(poverty.country_code, poverty.year))

In [52]:
poverty =poverty.drop(['year', 'Indicator', 'country_code', 'GeoAreaName'], axis=1)

In [55]:
df = df.merge(poverty, on='join_key', how='left')

In [56]:
df.pirate_success.value_counts()

1    3049
0     229
Name: pirate_success, dtype: int64

In [59]:
for i in df.columns:
    print(i)

X
Y
subreg
hostilitytype_l
victim_l
navarea
coords
country
year
month
day
subreg_11
subreg_12
subreg_13
subreg_18
subreg_21
subreg_22
subreg_23
subreg_24
subreg_25
subreg_26
subreg_27
subreg_28
subreg_36
subreg_37
subreg_44
subreg_51
subreg_52
subreg_53
subreg_54
subreg_55
subreg_56
subreg_57
subreg_61
subreg_62
subreg_63
subreg_71
subreg_72
subreg_73
subreg_74
subreg_81
subreg_82
subreg_83
subreg_91
subreg_92
subreg_93
subreg_94
subreg_95
subreg_96
subreg_97
hostilitytype_l_attempted_boarding
hostilitytype_l_hijacking
hostilitytype_l_kidnapping
hostilitytype_l_navel_engagement
hostilitytype_l_other
hostilitytype_l_pirate_assaults
hostilitytype_l_suspicious_approach
hostilitytype_l_unknown
victim_l_anchored_vessel
victim_l_barge
victim_l_cargo_ship
victim_l_fishing_vessel
victim_l_merchant_vessel
victim_l_offshore_vessel
victim_l_other
victim_l_passenger_ship
victim_l_sailing_vessel
victim_l_tanker
victim_l_tugboat
victim_l_unknown
victim_l_vessel
navarea_i
navarea_ii
navarea_iii
navarea_iv
navarea_ix
navarea_v
navarea_vi
navarea_vii
navarea_viii
navarea_x
navarea_xi
navarea_xii
navarea_xiii
navarea_xiv
navarea_xv
navarea_xvi
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
pirate_success
country_code
join_key
poverty_percentage