https://stackoverflow.com/questions/59736682/find-nearest-location-coordinates-in-land-using-python

In [1]:
import numpy as np
import pandas as pd
import geopandas as gp
import geopy
from geopy.geocoders import Nominatim
import time

In [2]:
df = pd.read_csv('./datasets/Anti-Shipping_Activity_Messages.csv')
df.dropna(inplace = True)

In [3]:
df.head(5)

,X,Y,OBJECTID,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea
0,-75.133333,21.933333,1,1990-9,1990/06/03 00:00:00+00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,IV
1,108.000000,3.000000,2,1990-10,1990/03/20 00:00:00+00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,XI
2,90.000000,-1.000000,3,1990-11,1990/03/20 00:00:00+00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,VIII
3,42.000000,14.000000,4,1989-16,1989/01/01 00:00:00+00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,IX
4,80.300000,13.100000,5,1989-17,1989/09/23 00:00:00+00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,VIII

In [4]:
df['Y'] = [str(x) for x in df['Y']]
df['X'] = [str(x) for x in df['X']]

In [5]:
df['coords'] = df['Y'] + ',' + df['X']

In [6]:
gloc = Nominatim(user_agent = 'Anything')

In [7]:
def closest_country(c):
    time.sleep(1)
    try:
        c = gloc.reverse(c, language = 'en')
        return c.raw['address']['country']
    except:
        return 'International Waters'

In [8]:
# df_locations_1_250 = df['coords'][:250].apply(lambda x: closest_country(x))
# df_locations_250_500 = df['coords'][250:500].apply(lambda x: closest_country(x))
# df_locations_500_750 = df['coords'][500:750].apply(lambda x: closest_country(x))
# df_locations_750_1000 = df['coords'][750:1000].apply(lambda x: closest_country(x))
# df_locations_1000_1500 = df['coords'][1000:1500].apply(lambda x: closest_country(x))
# df_locations_1500_2500 = df['coords'][1500:2500].apply(lambda x: closest_country(x))
# df_locations_2500_end = df['coords'][2500:].apply(lambda x: closest_country(x))

In [9]:
df = pd.read_csv('./datasets/esri_w_country_columns')

In [10]:
df.head()

,Unnamed: 0,X,Y,OBJECTID,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea,coords,country
0,0,-75.133333,21.933333,1,1990-9,1990/06/03 00:00:00+00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,IV,"21.9333333003936,-75.1333332999845",The Bahamas
1,1,108.000000,3.000000,2,1990-10,1990/03/20 00:00:00+00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,XI,"3.00000000044236,108.00000000024099",Indonesia
2,2,90.000000,-1.000000,3,1990-11,1990/03/20 00:00:00+00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,VIII,"-0.99999999968702,89.99999999965858",International Waters
3,3,42.000000,14.000000,4,1989-16,1989/01/01 00:00:00+00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,IX,"13.999999999898801,41.999999999905",Eritrea
4,4,80.300000,13.100000,5,1989-17,1989/09/23 00:00:00+00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,VIII,"13.0999999995998,80.3000000003341",India

In [11]:
# poverty = pd.read_csv('./sdg_piracy_sheets/csv_data/t111.csv', index_col =[0]) 
# land_rights = pd.read_csv('./sdg_piracy_sheets/csv_data/t142.csv', index_col =[0]) 
# education = pd.read_csv('./sdg_piracy_sheets/csv_data/t411.csv', index_col =[0]) 
# overfishing = pd.read_csv('./sdg_piracy_sheets/csv_data/t1441.csv', index_col =[0]) 
# sea_law = pd.read_csv('./sdg_piracy_sheets/csv_data/t14c1.csv', index_col =[0])

In [12]:
# Value, time, GeoArea Code, GeoAreaName, Units
# poverty.head(40)

In [13]:
# land_rights.SeriesDescription.unique()

In [14]:
# Value based on year/country (keep Series Description)
# education.GeoAreaName.value_counts()

In [15]:
# overfishing.Value

In [16]:
# sea_law.SeriesDescription.unique()

In [17]:
# sea_law.shape

In [18]:
df.head()

,Unnamed: 0,X,Y,OBJECTID,reference,dateofocc,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea,coords,country
0,0,-75.133333,21.933333,1,1990-9,1990/06/03 00:00:00+00,26,CUBAN GUNBOAT,BELESBAT QUEEN,A CUBAN GUNBOAT COMMANDEERED LUXURY YACHT BELE...,2.0,11.0,IV,"21.9333333003936,-75.1333332999845",The Bahamas
1,1,108.000000,3.000000,2,1990-10,1990/03/20 00:00:00+00,71,PIRATES,RO/RO SEA DRAGON,20 MARCH 1990. BORNEO. ...,1.0,3.0,XI,"3.00000000044236,108.00000000024099",Indonesia
2,2,90.000000,-1.000000,3,1990-11,1990/03/20 00:00:00+00,61,PIRATES,RO/RO SUNRISE,20 MARCH 1990. SINGAPORE. ...,1.0,3.0,VIII,"-0.99999999968702,89.99999999965858",International Waters
3,3,42.000000,14.000000,4,1989-16,1989/01/01 00:00:00+00,62,PEOPLES DEMOCRATIC REPUBLIC OF YEMEN,U.S. MARINERS,"RED SEA, YEMEN ...",2.0,13.0,IX,"13.999999999898801,41.999999999905",Eritrea
4,4,80.300000,13.100000,5,1989-17,1989/09/23 00:00:00+00,63,PIRATES,LASH STONEWALL JACKSON,Indian ocean ...,1.0,11.0,VIII,"13.0999999995998,80.3000000003341",India

In [19]:
df.drop(columns = ['Unnamed: 0'], inplace = True)

In [20]:
#Breaking into month, year, day and time.
df['year'] = [x[0:4] for x in df.dateofocc]
df['month'] = [x[5:7] for x in df.dateofocc]
df['day'] = [x[8:10] for x in df.dateofocc]
df['time'] = [x[11:] for x in df.dateofocc]

In [21]:
df[df['time'] == '00:00:00+00'].count()
#most rows are missing 'time'

X                  7792
Y                  7792
OBJECTID           7792
reference          7792
dateofocc          7792
subreg             7792
hostility_d        7792
victim_d           7792
description        7792
hostilitytype_l    7792
victim_l           7792
navarea            7792
coords             7792
country            7792
year               7792
month              7792
day                7792
time               7792
dtype: int64

In [22]:
#Dropping time column
df.drop(columns = 'time', inplace = True)

In [23]:
#Dropping original date of occurence column
df.drop(columns = 'dateofocc', inplace = True)

In [24]:
#Dropping 'OBJECTID'
df.drop(columns = 'OBJECTID', axis = 1, inplace = True)

In [25]:
#Lowercase all text
for i in df.columns:
    if df[i].dtypes == 'O':
        df[i] = df[i].str.lower()

In [26]:
df.hostilitytype_l.value_counts()

1.0    6971
3.0     537
4.0     163
6.0     124
2.0      47
5.0      40
9.0       6
7.0       1
Name: hostilitytype_l, dtype: int64

In [27]:
host_lst = ['pirate_assaults', 
            'navel_engagement', 
            'suspicious_approach', 
            'kidnapping', 
            'unknown', 
            'other', 
            'hijacking', 
            'no entries', 
            'attempted_boarding']

df.hostilitytype_l = [host_lst[int(x) - 1] for x in df.hostilitytype_l]

In [28]:
victim_lst = ['anchored_vessel', 
            'barge', 
            'cargo_ship', 
            'fishing_vessel', 
            'merchant_vessel', 
            'offshore_vessel', 
            'passenger_ship', 
            'sailing_vessel', 
            'tanker',
            'tugboat',
            'vessel',
            'unknown',
            'other']

df.victim_l = [victim_lst[int(x) - 1] for x in df.victim_l]

In [29]:
#Dummy all categorical columns
to_dummy = ['subreg', 'hostilitytype_l', 'victim_l', 'navarea', 'month']

for i in to_dummy:
    df = pd.concat([df, pd.get_dummies(df[i], prefix = i)], axis=1)
#df.drop(columns = to_dummy, axis = 1)

In [30]:
#ADD TO CLEANING

success_dict = {
    'pirate_assaults':1,      
    'suspicious_approach':0,  
    'kidnapping':1,
    'other':0,
    'navel_engagement':0, 
    'unknown':0,
    'attempted_boarding':0,
    'hijacking':1
}



df['pirate_success'] = df.hostilitytype_l.map(success_dict)

In [31]:
df.to_csv('./datasets/cleaned_pirate_activity_eda.csv')