In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/modeling.csv', index_col=[0])
math = pd.read_csv('./datasets/math.csv', index_col=[0])
reading = pd.read_csv('./datasets/reading.csv', index_col=[0])
sea_law = pd.read_csv('./datasets/sea_law_adoption.csv', index_col=[0])

In [3]:
attacks = df.groupby('country_code').size().to_frame()
attacks.rename(columns = {0:'attacks'}, inplace = True)

In [4]:
df = df[['year', 'navarea_i','navarea_ii','navarea_iii','navarea_iv','navarea_ix','navarea_v',\
         'navarea_vi','navarea_vii','navarea_viii','navarea_x','navarea_xi','navarea_xii',\
         'navarea_xiii','navarea_xiv','navarea_xv','navarea_xvi','country_code','join_key',\
         'poverty_percentage']]

In [5]:
df = df.merge(attacks, on='country_code', how='left')
df = df.merge(math, on='join_key', how='left')
df = df.merge(reading, on='join_key', how='left')
df = df.merge(sea_law, on='country_code', how='left')

In [6]:
for col in df.columns:
    print(col)

year
navarea_i
navarea_ii
navarea_iii
navarea_iv
navarea_ix
navarea_v
navarea_vi
navarea_vii
navarea_viii
navarea_x
navarea_xi
navarea_xii
navarea_xiii
navarea_xiv
navarea_xv
navarea_xvi
country_code
join_key
poverty_percentage
attacks
math_benchmark_percent
reading_benchmark_percent
sea_law_adoption

In [7]:
sea_law

       country_code  sea_law_adoption
18919            31              80.0
18920            32             100.0
18921            40              95.0
18922            50              90.0
18923            84              67.0
...             ...               ...
19004           705             100.0
19005           728               0.0
19006           740              67.0
19007           756              67.0
19008           826             100.0

[90 rows x 2 columns]