In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gp

In [2]:
df = pd.read_csv('./datasets/cleaned_pirate_activity.csv', index_col = 0)

In [3]:
df.head()

,index,X,Y,subreg,hostility_d,victim_d,description,hostilitytype_l,victim_l,navarea,...,navarea_vi,navarea_vii,navarea_viii,navarea_x,navarea_xi,navarea_xii,navarea_xiii,navarea_xiv,navarea_xv,navarea_xvi
0,0,-75.133333,21.933333,26,cuban gunboat,belesbat queen,a cuban gunboat commandeered luxury yacht bele...,navel_engagement,vessel,iv,...,0,0,0,0,0,0,0,0,0,0
1,1,108.000000,3.000000,71,pirates,ro/ro sea dragon,20 march 1990. borneo. ...,pirate_assaults,cargo_ship,xi,...,0,0,0,0,1,0,0,0,0,0
2,2,90.000000,-1.000000,61,pirates,ro/ro sunrise,20 march 1990. singapore. ...,pirate_assaults,cargo_ship,viii,...,0,0,1,0,0,0,0,0,0,0
3,3,42.000000,14.000000,62,peoples democratic republic of yemen,u.s. mariners,"red sea, yemen ...",navel_engagement,other,ix,...,0,0,0,0,0,0,0,0,0,0
4,4,80.300000,13.100000,63,pirates,lash stonewall jackson,indian ocean ...,pirate_assaults,vessel,viii,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
#the shape files are currently to large to upload to github enterprise so they have been removed for now.



#world = gp.read_file("./gadm36_shp/gadm36.shx")

# https://geopandas.org/docs/user_guide/data_structures.html
# https://towardsdatascience.com/the-easiest-way-to-plot-data-from-pandas-on-a-world-map-1a62962a27f3
# https://gadm.org/download_world.html

#fig, ax = plt.subplots(figsize = (10, 20))
#world.plot(ax = ax)
#df.plot(x='X', y = 'Y', kind = 'scatter', color = 'red', ax = ax);

In [ ]:
#Nav area

In [ ]:
#subregions

In [ ]:
#hostilities

In [ ]:
#victims