In [2]:
import numpy as np
import pandas as pd

In [6]:
t111 = pd.read_csv('./sdg_piracy_sheets/csv_data/t111.csv', index_col=[0])
t411 = pd.read_csv('./sdg_piracy_sheets/csv_data/t411.csv', index_col=[0])
t14c1 = pd.read_csv('./sdg_piracy_sheets/csv_data/t14c1.csv', index_col=[0])

In [7]:
drop_lis = ['Goal', 'Target', 'SeriesCode', 'SeriesDescription', 'FootNote']
t111.drop(drop_lis, axis=1, inplace=True)
t411.drop(drop_lis, axis=1, inplace=True)
t14c1.drop(drop_lis, axis=1, inplace=True)

In [8]:
poverty= t111[t111['Age']!='15-24']
poverty= poverty[poverty['Age']!= '15+']
poverty= poverty[poverty['Age']!= '25+']
poverty= poverty[poverty['Sex']!= 'MALE']
poverty= poverty[poverty['Age']!= 'FEMALE']

In [9]:
poverty.isnull().sum()

Indicator            0
GeoAreaCode          0
GeoAreaName          0
TimePeriod           0
Value                0
Time_Detail          0
Source               0
Age               2084
Nature               0
Reporting Type       0
Sex               2084
Units                0
dtype: int64

In [10]:
drop_lis = ['Age', 'Sex', 'Time_Detail', 'Source', 'Nature', 'Reporting Type', 'Units']
poverty.drop(drop_lis, axis=1, inplace=True)

In [11]:
poverty.rename(columns={'Value':'poverty_percentage'}, inplace=True)

In [12]:
poverty.shape

(2084, 5)

In [13]:
#https://stackoverflow.com/questions/65817843/how-to-create-new-rows-with-missing-years-and-populate-them-with-current-rows
poverty = (poverty.set_index('TimePeriod').groupby('GeoAreaCode')
   .apply(lambda x: x.reindex(np.arange(2000, 2022)).ffill())
   .reset_index('GeoAreaCode',drop=True)
   .reset_index())
poverty.dropna(inplace=True)

In [14]:
poverty = poverty[poverty['TimePeriod'] > 2009]

In [15]:
poverty.to_csv('./datasets/poverty.csv')

In [16]:
t411= t411[t411['Sex']!= 'MALE']
t411= t411[t411['Sex']!= 'FEMALE']
t411= t411[t411['Education level']== 'LOWSEC']
t411m = t411[t411['Type of skill']== 'SKILL_MATH']
t411r = t411[t411['Type of skill']== 'SKILL_READ']

In [17]:
def year_filler(df, low=2000, high=2022):
    df = (df.set_index('TimePeriod').groupby('GeoAreaCode').apply(lambda x: x.reindex(np.arange(low, high)).ffill()).reset_index('GeoAreaCode',drop=True).reset_index())
    df.dropna(inplace=True)
    return df

In [18]:
t411m = year_filler(t411m)
t411r = year_filler(t411r)

In [19]:
t411m['join_key'] = list(zip(t411m['GeoAreaCode'], t411m['TimePeriod']))
math = t411m[['join_key', 'Value']]

t411r['join_key'] = list(zip(t411r['GeoAreaCode'], t411r['TimePeriod']))
reading = t411r[['join_key', 'Value']]

math.rename(columns={'Value': 'math_benchmark_percent'}, inplace=True)
reading.rename(columns={'Value': 'reading_benchmark_percent'}, inplace=True)

C:\Users\Matt\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [20]:
math.to_csv('./datasets/math.csv')
reading.to_csv('./datasets/reading.csv')

In [23]:
sea_law_adoption = t14c1[['GeoAreaCode', 'Value']]
sea_law_adoption.rename(columns={'Value': 'sea_law_adoption', 'GeoAreaCode': 'country_code'}, inplace=True)

In [24]:
sea_law_adoption.to_csv('./datasets/sea_law_adoption.csv')

__SDG 9- Infrastructure Data__

In [6]:
rd_gdp = pd.read_csv('./sdg_piracy_sheets/csv_data/t9.5.1.csv', index_col=[0])
research = pd.read_csv('./sdg_piracy_sheets/csv_data/t9.5.2.csv', index_col=[0])

* Indicator 9.5.1: Research and development expenditure as a proportion of GDP

In [7]:
rd_gdp.head()

           GeoAreaCode GeoAreaName  TimePeriod  R&D proportion of GDP
Indicator
9.5.1                8     Albania        2007                 0.08757
9.5.1                8     Albania        2008                 0.15412
9.5.1               12     Algeria        2001                 0.23028
9.5.1               12     Algeria        2002                 0.36639
9.5.1               12     Algeria        2003                 0.19622

In [9]:
rd_gdp = (rd_gdp.set_index('TimePeriod').groupby('GeoAreaCode')
   .apply(lambda x: x.reindex(np.arange(2000, 2022)).ffill())
   .reset_index('GeoAreaCode',drop=True)
   .reset_index())
rd_gdp.dropna(inplace=True)

In [10]:
rd_gdp = rd_gdp[rd_gdp['TimePeriod'] > 2009]

In [11]:
rd_gdp.to_csv('./datasets/rd_gdp.csv')

* Indicator 9.5.2: Researchers (in full-time equivalent) per million inhabitants

In [14]:
research.head()

,GeoAreaCode,GeoAreaName,Year,Full Time Researchers per million (pop),Time_Detail
Indicator,,,,,
9.5.2,8,Albania,2008,155.52783,2008
9.5.2,12,Algeria,2005,168.71935,2005
9.5.2,12,Algeria,2017,819.34270,2017
9.5.2,16,American Samoa,2002,84.63101,2002
9.5.2,16,American Samoa,2003,403.33423,2003

In [15]:
research = (research.set_index('Year').groupby('GeoAreaCode')
   .apply(lambda x: x.reindex(np.arange(2000, 2022)).ffill())
   .reset_index('GeoAreaCode',drop=True)
   .reset_index())
research.dropna(inplace=True)

In [16]:
research.head()

,Year,GeoAreaCode,GeoAreaName,Full Time Researchers per million (pop),Time_Detail
8,2008,8.0,Albania,155.52783,2008.0
9,2009,8.0,Albania,155.52783,2008.0
10,2010,8.0,Albania,155.52783,2008.0
11,2011,8.0,Albania,155.52783,2008.0
12,2012,8.0,Albania,155.52783,2008.0